<html>

<head>
	 <!-- This is operating instructions for how the webpage should look - or, really, where it can go to get instructions. -->

<div id="header">
	 <a href="#"><img src="{{ url_for('static', filename='RedHook-banner.png') }}" alt="Return to the homepage" id="logo" /></a>
	
	
</div>

	 <title>Red Hook Maintenance</title> 
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>
<!--This section will have an img.-->

<body>   

	<!-- Actual webpage. -->

<div id="Page-Title">Issues</div>

<div id="navigation_bar">
	<div class="nav_button">Profile</div>
	<div class="nav_button">Issues</div>
	<div class="nav_button">Solutions</div>
	<div class="nav_button">Workers</div>
	<div class="nav_button">Feedback</div>
	<div id="home_button">Home</div>
</div>
<br></br>

<h1>Issues</h1>

<div class="first_box">	
<!-- ul un-order list with bullets -->
	<ul>
	
		<li>list item </li>


	</ul>

	<ol>

		<li>list item</li>

	</ol>

		<ul>
	
		<li>list item </li>


	</ul>

	<ol>

		<li>list item</li>

	</ol>

</div>	
<!-- ol order list with numbers -->
	
<div class="second_box">

			<form action="">
<input type="checkbox" name="service" value="bad">bad service<br>
<input type="checkbox" name="service" value="good">good service 
</form>
		<form action="">
<input type="checkbox" name="service" value="bad">bad service<br>
<input type="checkbox" name="service" value="good">good service 
</form>
</div>

	<div class="worker_box">
		<h2>Tell Us Your Issue</h2>



		<p>Proin at tincidunt nibh, ut porta ligula. Maecenas suscipit id lectus id fringilla. Mauris iaculis magna eu neque porta vestibulum. Quisque libero dolor, semper eu ligula nec, eleifend consequat lorem.</p>

<form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<textarea name="myTextBox" cols="50" rows="5">
Enter some text...
</textarea>
<br />
<input type="submit" />
</form>




	</div>	


</body> 






</html>