<html>

<head>
	 <!-- This is operating instructions for how the webpage should look - or, really, where it can go to get instructions. -->

<div id="header">
	 <a href="#"><img src="{{ url_for('static', filename='RedHook-banner.png') }}" alt="Return to the homepage" id="logo" /></a>
	
	
</div>

	 <title>Red Hook Maintenance</title> 
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>
<!--This section will have an img.-->

<body>   

	<!-- Actual webpage. -->
<div id="Page-Title">Worker</div>

<div id="navigation_bar">
	<a href="{{ url_for('profile') }}"><div class="nav_button">Profile</div></a>
	<a href="{{ url_for('issues') }}"><div class="nav_button">Issues</div></a>
	<a href="{{ url_for('solutions') }}"><div class="nav_button">Solutions</div></a>
	<a href="{{ url_for('workers') }}"><div class="nav_button">Workers</div></a>
	<a href="{{ url_for('feedback') }}"><div class="nav_button">Feedback</div></a>
	<a href="{{ url_for('home') }}"><div id="home_button">Home</div></a>
</div>
</div>
<br></br>

<a href="#"><img src="http://www.fillmurray.com/g/300/300" id="worker"/></a>


<div class="first_box">	
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat mollis tortor vel rutrum. Sed eget quam eu risus iaculis pulvinar. Maecenas tempus non sapien at sollicitudin. Donec eleifend non justo eu pulvinar. Nulla sodales mauris in erat ornare, at adipiscing enim laoreet. Praesent ac diam in erat convallis dictum ut eget nulla. Praesent congue hendrerit ante a ullamcorper. Curabitur consequat neque at turpis rutrum hendrerit.</p>


<!-- ul un-order list with bullets -->
<div class="rating">
    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
</div>
<!-- ol order list with numbers -->
	
<div class="second_box">

	<p>Proin at tincidunt nibh, ut porta ligula. Maecenas suscipit id lectus id fringilla. Mauris iaculis magna eu neque porta vestibulum. Quisque libero dolor, semper eu ligula nec, eleifend consequat lorem. Nunc dictum erat in odio pretium consequat. Maecenas pellentesque ante est, aliquet vehicula est commodo ut. Phasellus dui turpis, lobortis id lectus quis, vulputate tristique velit. Proin mollis hendrerit odio, sed dictum odio posuere et. Etiam odio massa, placerat hendrerit accumsan accumsan, malesuada eget massa.</p>
</div>

	<div class="worker_box">
		<h2>Workers Review</h2>



		<p>Proin at tincidunt nibh, ut porta ligula. Maecenas suscipit id lectus id fringilla. Mauris iaculis magna eu neque porta vestibulum. Quisque libero dolor, semper eu ligula nec, eleifend consequat lorem. Nunc dictum erat in odio pretium consequat. Maecenas pellentesque ante est, aliquet vehicula est commodo ut. Phasellus dui turpis, lobortis id lectus quis, vulputate tristique velit. Proin mollis hendrerit odio, sed dictum odio posuere et. Etiam odio massa, placerat hendrerit accumsan accumsan, malesuada eget massa.</p>

		<form action="">
<input type="checkbox" name="service" value="bad">bad service<br>
<input type="checkbox" name="service" value="good">good service 
</form>



	</div>	


</body> 






</html>